nav { background-color: black;}



* {
    padding: 0;
    margin: 0; }


.nav-link {

    margin-right: 20px;
    font-size: 20px;
color: white;}


.img_logo{
    width: 250px;
    margin-right: 600px;

}


footer .nav-link { margin-right: 200px; }

footer a img{ margin-right: 450px;
    width: 250px;
}


.authors {
    color: #D3D3D3;
    font-size: 15px;
    padding-left: 300px;
}
.author {
    color: #D3D3D3;
    font-size: 15px;
    position: center;
}

.delivery_central_container {
    background-image: url("../images/rec.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;

}

.delivery_inputs input { margin-top: 41px;  width: 100%; border-radius: 100px; background-color: transparent; border: solid 1px black; outline: none; padding-left: 15px;}

.delivery_signs p {margin-top: 42px; }

.delivery_signs {margin-bottom: 30px; }

.delivery_inputs select { margin-top:41px; width: 100%; background-color: transparent; border: solid 1px black;  }

.third_column {margin-top: 30px;}

h3 { padding-top: 30px;}

h4  { padding-top: 15px;}

i {padding-top: 40px; padding-bottom: 40px; display: inline; }

.bottom_sign {color: black; margin-top: 10px; font-weight: 900; font-size: 30px; background-color: white; padding: 50px 0}

button {background-color: transparent; border: none;}

a { color: white;}