nav { background-color: black;}
.nav-link {

    margin-right: 20px;
    font-size: 20px; }


.img_logo{
    width: 250px;
    margin-right: 600px;


}


footer .nav-link { margin-right: 200px; }

footer a img{ margin-right: 450px;
    width: 250px;
}


.authors {
    color: #D3D3D3;
    font-size: 15px;
    padding-left: 300px;
}
.author {
    color: #D3D3D3;
    font-size: 15px;
    position: center;
}

.recognize_central_container {
    padding-top: 100px;
    padding-bottom: 100px   ;
    background-image: url("../images/image2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

h3 { padding-bottom:100px;
color: white;}


input {
    height: 50px;
    width: 135%;
border-radius: 100px;
    padding-left: 20px;
    outline: none;
    border: transparent;

}

.enter_action {
    width:20%;
    height: 50px;
    font-size: 20px;
    border-radius: 100px;
    border:  white;
    position: absolute;
    left: 200px;


}

.main_table {
    margin-top: 50px;

}


.under_table button { background-color: #c69500;
margin: 10px 10px;
    border-radius: 100px;
    color: white;
}