
.nav-link {

    margin-right: 20px;
    font-size: 20px; }


.img_logo{
    width: 250px;
    margin-right: 600px;


}


footer .nav-link { margin-right: 200px; }

footer a img{ margin-right: 450px;
    width: 250px;
}


.authors {
    color: #D3D3D3;
    font-size: 15px;
    padding-left: 300px;
}
.author {
    color: #D3D3D3;
    font-size: 15px;
    position: center;
}

.recognize_central_container {
    background-image: url("../images/rec.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*.recognize_central_containerr {*/
/*    padding-top: 400px;*/
/*    padding-bottom: 400px;*/
/*    background-image: url("../images/recognize.jpg");*/
/*}*/

/*.recognize_central_container input {*/
/*    height: 50px;*/
/*    width: 120%;*/
/*    border: transparent solid ;*/
/*    border-radius: 100px;*/
/*    padding: 0 20px;*/
/*    position: relative;*/
/*    bottom: 200px;*/
/*    left: 100px;*/
/*    z-index: 10000;*/
/*    outline: none;*/
/*}*/
/*.recognize_central_container button {*/
/*    width:30%;*/
/*    height: 50px;*/
/*    font-size: 20px;*/
/*    border-radius: 100px;*/
/*    border:  white;*/
/*    border-width: 2px;*/
/*    position: absolute;*/
/*    left: 160px;*/
/*    bottom: 200px;*/
/*    z-index: 10000;*/

/*}*/